hr, ul, li, h2, h5 {
  margin: 0;
}

.stats li {
  display: inline-block;
  margin: 0 25px 0 0;
}

li {
  list-style: none;
}

.inventory span {
  background: coral;
  padding: 5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.berries {
  display: inline;
}